<section class="home">
			<div class="home-slider home-slider-full-page">
				<div class="swiper-wrapper">
					<div id="backgroundimage1" class="swiper-slide home-slider-centered">
						<h1 class="light wow fadeInDown"><span class="theme-color">#</span>DES PHOTOS DE PETITS CHATS TROP MIMI</h1>
						<li><%= link_to "Go !", items_path, :class => "btn btn-primary wow fadeInUp"%></li>
						
					</div>
					<div class="swiper-slide home-slider-centered" id="backgroundimage2">
						<h1 class="light wow fadeInDown"><span class="theme-color">#</span>DES PHOTOS DE PETITS CHATS TROP MIMI</h1>
						<li><%= link_to "Go !", items_path, :class => "btn btn-primary wow fadeInUp"%></li>
					</div>
				</div>
				<!-- Add Pagination -->
				
			</div>
		</section>

		<div class="container">
			<div class="row">
   				<!-- TAB PANEL ROW -->
   				<div class="col-md-12 box mt-60">
					<ul class="nav nav-tabs nav-center mb-30" role="tablist">
						<li class="active wow fadeInRight" data-wow-delay="0.6s"><a href="#featured" data-toggle="tab">photos stars</a></li>
						<li class=" wow fadeInRight" data-wow-delay="0.4s"><a href="#best" data-toggle="tab">bestsellers</a></li>
						<li class=" wow fadeInRight" data-wow-delay="0.2s" ><a href="#new" data-toggle="tab">new</a></li>
					</ul>

					<div class="tab-content">
	              		<div role="tabpanel" class="tab-pane fade in active row" id="featured">
       					<!-- SINGLE PRODUCT BOX -->
		<% @itemsfeatured.each do |item| %>

		<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
			               <%= link_to item do %>
			    			<div class="product-box  product-box-vertical">
				    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
				    				<div class="product-box-image">
				    					<%= image_tag(item.photo.url(:square), :class=>"img-responsive", :alt=>"product image", :style => "width:100%; height:auto")%>
				    					<span class="product-box-hover-content zoom">
				    						<span class="product-box-hover-content-container">
				   								<span style = "font-size:150%; padding: 15px"><%= item.description[0..150] %> ...</span>
				    						</span>
				    					</span>
				    				</div>
				    			<%end%>

				    				<div class="product-box-details">
				    					<span class="glyphicon glyphicon-star"></span>
					    				
										<h5><%= item.title %></h5>


										
										<span class="product-box-price h5"><%=item.price%> 0 €</span>
										<%= link_to "Ajouter au panier", add_cart_item_path(item), method: :post, :class=>"btn btn-link btn-sm no-padding add-item"%>
									</div>
			    				</div>
			    			</div>
			    		</div>


		<% end %>
		</div>

	              		<div role="tabpanel" class="tab-pane fade in row" id="best">
       					<!-- SINGLE PRODUCT BOX -->
							<% @itembest.each do |item| %>

							<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
								<%= link_to item do %>
								    			<div class="product-box  product-box-vertical">
									    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
									    				<div class="product-box-image">
									    					<%= image_tag(item.photo.url(:square), :class=>"img-responsive", :alt=>"product image", :style => "width:100%; height:auto")%>
									    					<span class="product-box-hover-content zoom">
									    						<span class="product-box-hover-content-container">
									   								<span style = "font-size:150%; padding: 15px"><%= item.description[0..150] %> ...</span>
									    						</span>
									    					</span>
									    				</div>
									    			<%end%>

									    				<div class="product-box-details">
									    					<span class="product-box-new">best</span>
										    				
															<h5><%= item.title %></h5>


															
															<span class="product-box-price h5"><%=item.price%> 0 €</span>
										<%= link_to "Ajouter au panier", add_cart_item_path(item), method: :post, :class=>"btn btn-link btn-sm no-padding add-item"%>
														</div>
								    				</div>
								    			</div>
								    		</div>


							<% end %>	    	   			
			    		</div>


	              		<div role="tabpanel" class="tab-pane fade in row" id="new">
	      					<!-- SINGLE PRODUCT BOX -->
		<% @itemsnew.each do |item| %>

		<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
			<%= link_to item do %>
			    			<div class="product-box  product-box-vertical">
				    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
				    				<div class="product-box-image">
				    					<%= image_tag(item.photo.url(:square), :class=>"img-responsive", :alt=>"product image", :style => "width:100%; height:auto")%>
				    					<span class="product-box-hover-content zoom">
				    						<span class="product-box-hover-content-container">
				   								<span style = "font-size:150%; padding: 15px"><%= item.description[0..150] %> ...</span>
				    						</span>
				    					</span>
				    				</div>
				    				<%end%>

				    				<div class="product-box-details">
				    					<span class="product-box-new">new!</span>
					    				
										<h5><%= item.title %></h5>


										
										<span class="product-box-price h5"><%=item.price%> €</span>

										<%= link_to "Ajouter au panier", add_cart_item_path(item), method: :post, :class=>"btn btn-link btn-sm no-padding add-item"%>
									</div>
			    				</div>
			    			</div>
			    		</div>


		<% end %>

				</div>


	

			</div>
</div>