
		<section class="home">
			<div class="home-slider home-slider-full-page">
				<div class="swiper-wrapper">
					<div id="backgroundimage1" class="swiper-slide home-slider-centered">
						<h1 class="light wow fadeInDown"><span class="theme-color">#</span>DES PHOTOS DE PETITS CHATS TROP MIMI</h1>
						<li><%= link_to "Go !", items_path, :class => "btn btn-primary wow fadeInUp"%></li>
						
					</div>
					<div class="swiper-slide home-slider-centered" id="backgroundimage2">
						<h1 class="light wow fadeInDown"><span class="theme-color">#</span>DES PHOTOS DE PETITS CHATS TROP MIMI</h1>
						<li><%= link_to "Go !", items_path, :class => "btn btn-primary wow fadeInUp"%></li>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="home-slider-pagination"></div>
				<span class="ti-angle-left home-slider-prev"></span>
				<span class="ti-angle-right home-slider-next"></span>
			</div>
		</section>

		<div class="container">
			<div class="row">
   				<!-- TAB PANEL ROW -->
   				<div class="col-md-12 box mt-60">
					<ul class="nav nav-tabs nav-center mb-30" role="tablist">
						<li class="active wow fadeInRight" data-wow-delay="0.6s"><a href="#featured" data-toggle="tab">featured</a></li>
						<li class=" wow fadeInRight" data-wow-delay="0.4s"><a href="#best" data-toggle="tab">bestsellers</a></li>
						<li class=" wow fadeInRight" data-wow-delay="0.2s" ><a href="#new" data-toggle="tab">new</a></li>
					</ul>

					<div class="tab-content">
	              		<div role="tabpanel" class="tab-pane fade in active row" id="featured">
       					<!-- SINGLE PRODUCT BOX -->
		<% @itemsfeatured.each do |item| %>

		<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
			    			<div class="product-box  product-box-vertical">
				    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
				    				<div class="product-box-image">
				    					<%= image_tag(item.photo.url, :class=>"img-responsive", :alt=>"product image", :style => "width:100%; height:auto")%>
				    					<span class="product-box-hover-content zoom">
				    						<span class="product-box-hover-content-container">
				   								<span style = "font-size:150%; padding: 15px"><%= item.description[0..150] %> ...</span>
				    						</span>
				    					</span>
				    				</div>

				    				<div class="product-box-details">
					    				
										<h5><%= item.title %></h5>


										
										<span class="product-box-price h5">$ <%=item.price%></span>
										<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
											Ajouter au panier
										</a>
									</div>
			    				</div>
			    			</div>
			    		</div>


		<% end %>
		</div>

	              		<div role="tabpanel" class="tab-pane fade in row" id="best">
       					<!-- SINGLE PRODUCT BOX -->
	    	   			<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
			    			<div class="product-box  product-box-vertical">
				    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
				    				<div class="product-box-image">
				    					<%= image_tag("products/product-01.jpg", :class=>"img-responsive", :alt=>"product image")%>
				    					<span class="product-box-hover-content zoom">
				    						<span class="product-box-hover-content-container">

				    							<span>S | M | L | XL | XXL</span>
				    						</span>
				    					</span>
				    				</div>

				    				<div class="product-box-details">
					    				
										<h5>Best1</h5>
							            <div class="product-box-rating">
				                            <ul>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star-empty unactive"></span></li>
				                            </ul>
				                        </div>

										
										<span class="product-box-price h5">$ 22.33</span>
										<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
											add to cart
										</a>
									</div>
			    				</div>
			    			</div>
			    		</div>
			    		<!-- / SINGLE PRODUCT BOX -->
       					<!-- SINGLE PRODUCT BOX -->
	    	   			<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
			    			<div class="product-box  product-box-vertical">
				    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
				    				<div class="product-box-image">
				    					<%= image_tag("products/product-01.jpg", :class=>"img-responsive", :alt=>"product image")%>
				    					<span class="product-box-hover-content zoom">
				    						<span class="product-box-hover-content-container">
				   								<span class="product-box-hover-content-icons">
					    							<a href="#" title="wishlist"><span class="ti-heart"></span></a>
					    							<a href="#" title="compare"><span class="ti-layout-list-thumb"></span></a>
					    							<a href="#" title="share"><span class="ti-share"></span></a>
				    							</span>
				    							<span>S | M | L | XL | XXL</span>
				    						</span>
				    					</span>
				    				</div>

				    				<div class="product-box-details">
					    				
										<h5>Best2</h5>
							            <div class="product-box-rating">
				                            <ul>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star-empty unactive"></span></li>
				                            </ul>
				                        </div>

									
										<span class="product-box-price h5">$ 22.33</span>
										<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
											add to cart
										</a>
									</div>
			    				</div>
			    			</div>
			    		</div>
			    		<!-- / SINGLE PRODUCT BOX -->
       					<!-- SINGLE PRODUCT BOX -->
	    	   			<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
			    			<div class="product-box  product-box-vertical">
				    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
				    				<div class="product-box-image">
				    					<%= image_tag("products/product-01.jpg", :class=>"img-responsive", :alt=>"product image")%>
				    					<span class="product-box-hover-content zoom">
				    						<span class="product-box-hover-content-container">
				   								<span class="product-box-hover-content-icons">
					    							<a href="#" title="wishlist"><span class="ti-heart"></span></a>
					    							<a href="#" title="compare"><span class="ti-layout-list-thumb"></span></a>
					    							<a href="#" title="share"><span class="ti-share"></span></a>
				    							</span>
				    							<span>S | M | L | XL | XXL</span>
				    						</span>
				    					</span>
				    				</div>

				    				<div class="product-box-details">
					    				
										<h5>Best3</h5>
							            <div class="product-box-rating">
				                            <ul>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star"></span></li>
				                                <li><span class="glyphicon glyphicon-star-empty unactive"></span></li>
				                            </ul>
				                        </div>

										
										<span class="product-box-price h5">$ 22.33</span>
										<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
											add to cart
										</a>
									</div>
			    				</div>
			    			</div>
			    		</div>
			    		<!-- / SINGLE PRODUCT BOX -->
	              		</div>

	              		<div role="tabpanel" class="tab-pane fade in row" id="new">
	      					<!-- SINGLE PRODUCT BOX -->
		    	   			<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
				    			<div class="product-box  product-box-vertical">
					    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
					    				<div class="product-box-image">

					    					<%= image_tag("products/product-01.jpg", :class=>"img-responsive", :alt=>"product image")%>

					    					<span class="product-box-hover-content zoom">
					    						<span class="product-box-hover-content-container">
					   								<span class="product-box-hover-content-icons">
						    							<a href="#" title="wishlist"><span class="ti-heart"></span></a>
						    							<a href="#" title="compare"><span class="ti-layout-list-thumb"></span></a>
						    							<a href="#" title="share"><span class="ti-share"></span></a>
					    							</span>
					    							<span>S | M | L | XL | XXL</span>
					    						</span>
					    					</span>
					    				</div>

					    				<div class="product-box-details">
						    				<span class="product-box-new">new!</span>
											<h5>New1</h5>
								            <div class="product-box-rating">
					                            <ul>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star-empty unactive"></span></li>
					                            </ul>
					                        </div>

											
											<span class="product-box-price h5">$ 22.33</span>
											<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
												add to cart
											</a>
										</div>
				    				</div>
				    			</div>
				    		</div>
				    		<!-- / SINGLE PRODUCT BOX -->
	       					<!-- SINGLE PRODUCT BOX -->
		    	   			<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
				    			<div class="product-box  product-box-vertical">
					    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
					    				<div class="product-box-image">
					    					<%= image_tag("products/product-01.jpg", :class=>"img-responsive", :alt=>"product image")%>
					    					<span class="product-box-hover-content zoom">
					    						<span class="product-box-hover-content-container">
					   								<span class="product-box-hover-content-icons">
						    							<a href="#" title="wishlist"><span class="ti-heart"></span></a>
						    							<a href="#" title="compare"><span class="ti-layout-list-thumb"></span></a>
						    							<a href="#" title="share"><span class="ti-share"></span></a>
					    							</span>
					    							<span>S | M | L | XL | XXL</span>
					    						</span>
					    					</span>
					    				</div>

					    				<div class="product-box-details">
						    				<span class="product-box-new">new!</span>
											<h5>New2</h5>
								            <div class="product-box-rating">
					                            <ul>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star-empty unactive"></span></li>
					                            </ul>
					                        </div>

										
											<span class="product-box-price h5">$ 22.33</span>
											<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
												add to cart
											</a>
										</div>
				    				</div>
				    			</div>
				    		</div>
				    		<!-- / SINGLE PRODUCT BOX -->
	       					<!-- SINGLE PRODUCT BOX -->
		    	   			<div class="smartphone-fw col-md-4 wow fadeIn" data-wow-delay="0.2s">
				    			<div class="product-box  product-box-vertical">
					    			<div class="product-box-wrapper no-padding product-box-wrapper no-padding-bg">
					    				<div class="product-box-image">
					    					<%= image_tag("products/product-01.jpg", :class=>"img-responsive", :alt=>"product image")%>
					    					<span class="product-box-hover-content zoom">
					    						<span class="product-box-hover-content-container">
					   								<span class="product-box-hover-content-icons">
						    							<a href="#" title="wishlist"><span class="ti-heart"></span></a>
						    							<a href="#" title="compare"><span class="ti-layout-list-thumb"></span></a>
						    							<a href="#" title="share"><span class="ti-share"></span></a>
					    							</span>
					    							<span>S | M | L | XL | XXL</span>
					    						</span>
					    					</span>
					    				</div>

					    				<div class="product-box-details">
						    				<span class="product-box-new">new!</span>
											<h5>New3</h5>
								            <div class="product-box-rating">
					                            <ul>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star"></span></li>
					                                <li><span class="glyphicon glyphicon-star-empty unactive"></span></li>
					                            </ul>
					                        </div>

										
											<span class="product-box-price h5">$ 22.33</span>
											<a class="btn btn-link btn-sm no-padding add-item" data-image="assets/products/product-01.jpg" data-name="Laurent handbag" data-cost="22.33"  data-id="1">
												add to cart
											</a>
										</div>
				    				</div>
				    			</div>
				    		</div>
				    		<!-- / SINGLE PRODUCT BOX -->
	              		</div>
	              	</div>
				</div>


	

			</div>
		</div>
