
        <section id="contact" class="contact contact-with-map">
            <div class="container">
                <div class="row">
                	<h1>Mon profil</h1>

                	<div class="col-md-3">
                        <div class="contact-data">
                            <ul>
                                
                                <li><span class="ti-email icon"></span><%=current_user.email%></li>
                                <li><span class="ti-mobile icon"></span>Nombre de commandes : <%= @orders.count %></li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 box">
                        <h5 class="heading mt-60 mb-0 mr-0"><span>//</span>MON COMPTE</h5>
                    </div>

                    <div class="col-md-8 col-md-push-1">
                        <div class="contact-form">

                        	    
                                <%= link_to "Editez ou supprimez votre compte", edit_user_registration_path, :id=>"submit", :class=>"btn btn-primary btn-lg text-center float-right"%>
                                
                        </div>
                    </div>

                    <div class="col-md-12 box">
                        <h5 class="heading mt-60 mb-0 mr-0"><span>//</span>MES COMMANDES</h5>
                    

                        <div align="center">

    						<% @orders.each do |order|%>

    						   
    							     <table style="width:70%; margin : 50px; border: 1px solid black; padding: 25px;"">
    							     
    								  <tr>
    								    <th>Date : <%= order.created_at %></th>
                                        <th></th>
                                        <th></th>
    								  </tr>
    								  <tr>
    								    <th>Produit commandé</th>
    								    <th>Prix</th>
    								    <th>Quantité</th>
    								  </tr>
                                      <% @sum = 0%>
    								   <% order.items.each do |item| %>
                                       
    								  <tr>
    								    <td><%= item.title %></td>
    								    <td><%= item.price %>0 $</td>
    								    <td>1</td>
    								    <% @sum = @sum + item.price %>
    								  </tr>
    								  <%end%>
    								  <tr>
    								    <th>TOTAL : <%= @sum %>0 $</th>
                                        <th></th>
                                        <th></th>
    								   
    								  </tr>

    							</table> 
    						<%end%>
						</div>       

                    </div>


                </div>
            </div>


        </section>
