		<div class="container mt-30">
			<div class="row">
				<div class="col-md-9">
					<ul class="cart-items width-100 pull-left pl-30 pr-30 pb-30 pt-30 border">
		                <li class="cart-items-labels visible-lg-block visible-md-block row"> 
		                    <span class="col-md-6">product</span>
		                    <span class="col-md-2 text-center">quantity</span> 
		                    <span class="col-md-4 text-right">price</span>
		                </li>

		                <% @cart.items.each do |item| %>
	

		                <li class="row">
		                    <span class="cart-image col-xs-6 col-sm-2">
		                        <%= image_tag item.photo.url, :class => "img-responsive", :alt => "product image"%> 

		                    </span>

		                    <div class="cart-item-right col-md-10">
		                    	<div class="row">
		                            <span class="cart-description col-xs-12 col-md-5">
		                                <a class="h5" href="#"><%= item.title%></a>				   
		                                <span class="cart-item-price h5">€ <%= item.price %></span>
		                            </span>

									<span class="col-md-2 col-sm-12">
										<input class="text-center form-control" type="text" value="1">
									</span>

		                            <span class="col-md-5 col-sm-12 text-right">
		                                <span class="cart-price pull-right">€<%= item.price %> <div class="cart-remove">
		                               <%=link_to "", carts_remove_cart_path(item), method: :post, :class=>"ti-trash icon pull-right mt-5 ml-10"%>
		                                </div></span>
		                               
		                            </span>
		                        </div>
		                    </div>
		                </li>
		                <%end%>
		          
		            </ul>
				</div>

				<div class="col-md-3">
                    <div class="cart-right">
                        <ul class="cart-summary">

                            <li>Total <span>$<%= @sum %> </span> </li>
                        </ul>
 
						<div>
							<%= form_tag orders_new_path do %>
							  <article>
							    <% if flash[:error].present? %>
							      <div id="error_explanation">
							        <p><%= flash[:error] %></p>
							      </div>
							    <% end %>
							    
							  </article>

							  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
							          data-description="Votre commande :)"
							          data-amount="<%= @sum*100 %>"
							          data-locale="auto"></script>
							<% end %>
							
						</div>
                       
                    </div>
                </div>
			</div>
		</div>
