
		<div class="container">
			<div class="row">
                <div class="product-image-wrapper col-md-8">
                    <div class="carousel  slide product-slide carousel-fade" id="product-carousel">
                    	
                    	
                    	<%= image_tag @item.image_url, :style => "width: 100%; height:auto"%>
                        
          
                        
                    </div>
                </div>

			    <div class="product-description-box col-md-4">            
			        <div class="row">
			            <div class="col-sm-12">
			                <h3 class="product-description-box-name pull-left"><%= @item.title%></h3>
			            </div>

			        <div class="col-sm-12">
				        <div class="product-button-section box">
				            <span class="product-description-box-price"><%= @item.price%>$</span>

				                <ul class="product-detail-list mb-30">
				                	<% if @item.featured %>
				                    <li>
				                        <span class="product-detail-list-label"></span>
				                        <ul class="pull-right product-review-value">
				                            <li><span >Featured Article</span></li>
				                            <li><span class="glyphicon glyphicon-star"></span></li>
				                            <li><span class="glyphicon glyphicon-star"></span></li>
				                            <li><span class="glyphicon glyphicon-star"></span></li>
				                            
				                        </ul>
				                    </li>
				                    <% end %>

				                   

				               
					            
					            <a href="#" class="btn btn-primary add-item" data-image="img/product/01.png" data-name="Almond heaven" data-cost="299.00" data-id="6" style = "margin-top: 50px ">
					            <span class="ti-shopping-cart"></span> Ajouter au panier
					            </a>
			        		</div>
			 
					        <div class="box">
					         <hr>
					             <div class="box text-left">
					                <h3 class="">Description du <%=@item.title%></h3>
					                <p><%= @item.description %></p>
					                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p><br><br>

					                
					             </div>
					        </div>
					      
					       
			    		</div>
					</div>
				</div>
			</div>
		</div>
