
		<div class="container">
			<div class="row">
                <div class="product-image-wrapper col-md-8">
                    <div class="carousel  slide product-slide carousel-fade" id="product-carousel">
                    	
                    	
                    	<%= image_tag @item.photo.url, :style => "width: 100%; height:auto"%>
                        
          
                        
                    </div>
                </div>

			    <div class="product-description-box col-md-4">            
			        <div class="row">
			            <div class="col-sm-12">
			                <h3 class="product-description-box-name pull-left"><%= @item.title%></h3>
			            </div>

			        <div class="col-sm-12">
				        <div class="product-button-section box">
				            <span class="product-description-box-price"><%= @item.price%>$</span>

				                <ul class="product-detail-list mb-30">
				                	<% if @item.featured %>
				                    <li>
				                        <span class="product-detail-list-label"></span>
				                        <ul class="pull-right product-review-value">
				                            <li><span >Featured Article</span></li>
				                            <li><span class="glyphicon glyphicon-star"></span></li>
				                            <li><span class="glyphicon glyphicon-star"></span></li>
				                            <li><span class="glyphicon glyphicon-star"></span></li>
				                            
				                        </ul>
				                    </li>
				                    <% end %>

				                   

				               
					            
					           
					            <%= link_to add_cart_item_path(@item), method: :post, :class=>"btn btn-primary add-item", :style => "margin-top: 50px " do%><span class="ti-shopping-cart"> </span> Ajouter au panier
					            <%end %>
			        		</div>
			 
					        <div class="box">
					         <hr>
					             <div class="box text-left">
					                <h3 class="">Description du <%=@item.title%></h3>
					                <p><%= @item.description %></p>
					                <br><br>

					                
					             </div>
					        </div>
					      
					       
			    		</div>
					</div>
				</div>
			</div>
		</div>
