<header class="header header-fixed nav-down">
			<div class="box mb-0">
				<div class="">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
							
								<%= image_tag("bg/ourlogo.jpeg", :alt=>"store logo", :id => "ourlogo")%>
							
								<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="collapse navbar-collapse js-navbar-collapse">
								<ul class="nav navbar-nav">
									<li><%= link_to "NOS PRODUITS", items_path, :class => "header-link"%></li>
									
									<li class="header-link"><a href="/">Bestsellers</a></li>
	
									<li class="header-link"><a href="/">New products</a></li>

								</ul>
								<div class="header-languages pull-right mr-30">
								<ul>
									<% if user_signed_in? %>
									    <li><%= link_to "Mon profil", user_path(current_user) %></li>
										<% if current_user.cart!= nil %>
										  <li><%= link_to cart_path(current_user.cart) do%>
										  	<span class="ti-shopping-cart"> </span>MON PANIER
										  	<%end%>
										  </li>
										<% end %>
										<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
									<% else %>
       							    	<li><%= link_to "Log in", new_user_session_path %></li>
       							    	<li><%= link_to "Sign up", new_user_registration_path %></li>
      							    <% end %>
								</ul>
								</div>
								
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
