<header class="header header-fixed nav-down" >
			<div class="box mb-0">
				<div class="">
					<nav class="navbar navbar-default" >
						<div class="container-fluid">
							<div class="navbar-header">
							
								<%=link_to root_path do %> 
								
								<span style = "font-size: 2em"><%= image_tag("bg/ourlogo.jpeg", :alt=>"store logo", :id => "ourlogo", :style =>"height: 50px; width: auto; margin-right: 20px;")%> MENU</span>
								<%end%>

							</div>


								<div class="header-languages pull-right mr-30" ">
								<ul>
									<li><%= link_to "Nos Photos", items_path, :class => "header-link"%></li>
									<% if user_signed_in? %>
											<%if current_user.admin?%>
											    <li><%= link_to "Dashboard Admin", users_administrator_path %></li>
											<%else%>
											    <li><%= link_to "Mon profil", user_path(current_user) %></li>
											<%end%>
										<% if current_user.cart!= nil %>
										  <li><%= link_to cart_path(current_user.cart) do%>
										  	<span class="ti-shopping-cart"> </span>MON PANIER
										  	<%end%>
										  </li>
										<% end %>
										<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
									<% else %>
       							    	<li><%= link_to "Log in", new_user_session_path %></li>
       							    	<li><%= link_to "Sign up", new_user_registration_path %></li>
      							    <% end %>
								</ul>
								</div>
								
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
