<!DOCTYPE html>
<html>
  <head>
    <title>EshopBali</title>
    	<%= csrf_meta_tags %>
		<meta charset="utf-8">
		<title>Laurent - ecommerce bootstrap template</title>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		
    <%= favicon_link_tag "favicon.png"%>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		
   		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
</html>
